/* giriş */
*{
  margin: 0px;
 background-color: #FAF7F2;
}

.öneri ul {
display: flex;
justify-content: space-around;
padding: 1rem;
color: white;
  background-color: white;
  font-family: 'Chelsea Market', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento', serif;
  font-style: italic;
  font-size: medium;
}
.öneri ul li {
  background-color: white;
  color:black;
  display: flex;
  font-family: 'Barlow', sans-serif;
font-family: 'Chelsea Market', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento', serif;
}
.baslık{
  background-color: #CE2829;
  text-align: center;

}
.baslık h1 {
 color:white;
 font-size: 3rem;
background-color:#CE2829;
font-family: 'Chelsea Market', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento', serif;

  
}
.baslık p{
  background-color: #CE2829;
  color: #FDC913;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3rem;
  font-size: large;
}
.baslık h4{
background-color: #CE2829;
  margin-top: 2rem;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quattrocento', serif;
font-size: 30px;
  margin-bottom: 0rem;
}
.baslık button {
  background-color: #e7b916;
  justify-content: center;
  font-size: 1.3rem;

  font-family: 'Chelsea Market', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quattrocento', serif;
  color: black;
  border-radius: 1rem ;
  outline-color:#e7b916;
  width: 8rem;
  height: 2rem;
  margin-top: 2rem;
}
.özel {
  position: relative;
}
.özel img {
  width: 40rem;
  position: absolute;
  margin-top: 5rem;
  margin-left: 20rem;
  border-radius: 20px;
}
.özel h3 {
  position: absolute;
  color: white;
  margin-top: 10rem;
  margin-left: 24rem;
  font-size: 40px;
  background-color: #CE2829;
}
.özel p {
  position: absolute;
  color: white;
  margin-top: 15rem;
  margin-left: 24rem;
  background-color: #CE2829;
}
.özel button {
  position: absolute;
  background-color: #FAF7F2;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #CE2829;
  border-radius: 1rem ;
  outline-color:#e7b916;
  width: 10rem;
  height: 2.5rem;
  margin-top: 18rem;
  margin-left: 24rem;
}
.burger {
margin-top: 80px;
position: relative;
 
}
.burger img {
  margin-left: 62rem;
  width: 35rem;
  height: 15rem;
  margin-top: 0.2rem;
  position: absolute;
 border-radius: 20px;
  
}
.burger button {
  position: absolute;
  background-color: #FAF7F2;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #CE2829;
  border-radius: 1rem ;
  outline-color:#e7b916;
  width: 10rem;
  height: 2.5rem;
  margin-top: 9rem;
  margin-left:65rem;
 
}
.burger h3 {
  color:#FAF7F2;
  font-size: 20px;
  position: absolute;
  margin-top: 5rem;
  margin-left:65rem;
  background-color: #292929;
}
.kurye {
  margin-top: 20rem;
position: relative;
margin-left: 62rem;
}
.kurye img {
  margin-top: 3rem;
width: 35rem;
height: 15rem;
border-radius: 20px;
position: absolute;
}
.kurye h3{
  color: #CE2829;
  position: absolute;
  margin-top: 6rem;
  margin-left: 2rem;
  background-color: #FAF7F2;
}
.kurye h3 p {
  background-color: #FAF7F2;
  color: black;
  position: absolute;
  
}
.kurye button {
  position: absolute;
  background-color: #FAF7F2;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #CE2829;
  border-radius: 1rem ;
  outline-color:#e7b916;
  width: 10rem;
  height: 2.5rem;
  margin-top: 14rem;
 margin-left: 2.5rem;
}
.menü h4 {
  margin-top: 43rem;
  text-align: center;
  color:#CE2829;
  font-family: 'Chelsea Market', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento', serif;
}
.menü h3 {
  margin-top: 2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.tercih ul {
  display: flex;
justify-content: space-around;
padding: 1rem;

  background-color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: medium;
}
.üçlü {
  display: flex;
  justify-content: space-around;

}
.pizza  {
 width: 100px;
 height: 100px;
 background-color: white;

}
.pizza img {
  width: 250px;
}
.pizza ul {
  display: flex;
  
}
.pizza ul li {
  display: flex;
  margin-left:1.5rem ;
}
.footer {
  background-color: black;
  width: 100%;
  height: 480px;
  position: relative;
  margin-top: 25rem;
  
}
.footer h4 {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 30px;
  text-align : center; 
  margin-left:20rem; 
  margin-top: 5rem;
}
.footer p {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 30px;
  text-align : center; 
  margin-left:54rem; 
  margin-top: 5rem;
}
.konum {
  display: flex;
  position: absolute;
  margin-top: -20rem;
  background-color: black;
  margin-left:20rem; 
  
  
}
.konum img {
  background-color: black;

}
.konum p {
  background-color: black;
  color: white;
  margin-top: 0.25rem;
  margin-left: 2rem;
}
.mail {
  display: flex;
  position: absolute;
  margin-top: -15rem;
  background-color: black;
  margin-left:20rem; 
  
}
.mail img {
  background-color: black;
}
.mail p {
  background-color: black;
  color: white;
  margin-top: 0.25rem;
  margin-left: 2rem;
}
.tel {
  display: flex;
  position: absolute;
  margin-top: -10rem;
  background-color: black;
  margin-left:20rem; 
}
.tel img {
  background-color: black;
}
.tel p {
  background-color: black;
  color: white;
  margin-top: 0.25rem;
  margin-left: 2rem;
}
.seçenekler {
 
  position: absolute;
  margin-top: -22rem;
  background-color: black;
  margin-left:53.5rem; 
 
}
.seçenekler p {
  background-color: black;
  color: white;
  margin-top: 0.20rem;
 
}
.seçenek2 {
  margin-top: 1.7rem;
}
.insta {
  
  position: absolute;
  margin-top: -25rem;
  background-color: black;
  margin-left:90rem; 
}
.insta p {
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;

}
.insta img {
  background-color: black;
}
.ilk3 {
 background-color: black;
 margin-bottom: 1rem;

}
